* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-pale: hsl(225, 100%, 94%);
  --primry-color-bright: hsl(245, 75%, 52%);
  --neutral-color-pale: hsl(225, 100%, 98%);
  --neutral-color-desaturated: hsl(224, 23%, 55%);
  --neutral-color-dark: hsl(223, 47%, 23%);
}

body {
  background: url(images/pattern-background-desktop.svg) no-repeat top center;
  background-color: var(--primary-color-pale);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}