@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-pale: hsl(225, 100%, 94%);
  --primry-color-bright: hsl(245, 75%, 52%);
  --neutral-color-pale: hsl(225, 100%, 98%);
  --neutral-color-desaturated: hsl(224, 23%, 55%);
  --neutral-color-dark: hsl(223, 47%, 23%);
}

body {
  background: url(images/pattern-background-desktop.svg) no-repeat top center;
  background-color: var(--primary-color-pale);
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.card {
  position: relative;
  background-color: #fff;
  height: 600px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-top {
  position: absolute;
}

.card-top img {
  height: 180px;
  width: 450px;
}

.card-body {
  text-align: center;
  margin-top: 220px;
}

h2 {
  font-weight: 900;
  color: var(--neutral-color-dark);
}

.card-center p {
  font-size: 16px;
  color: var(--neutral-color-desaturated);
  padding: 5px;
  line-height: 1.5em;
}

.card-plan {
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral-color-pale);
  border-radius: 15px;
  margin: 25px 30px;
  padding: 20px 25px;
}

.card-plan-box {
  margin-right: 140px;
}

.card-plan-box h4 {
  font-weight: 900;
  color: var(--neutral-color-dark);
  line-height: 1.5em;
}

.card-plan-box p {
  font-size: 16px;
  color: var(--neutral-color-desaturated);
}

.card-btn-plan {
  padding: 0;
  border: none;
  background: none;
  color: var(--primry-color-bright);
  font-weight: 900;
  font-family: 'Red Hat Display', sans-serif;
  text-decoration: underline;
}

.card-btn-plan:hover {
  cursor: pointer;
  color: var(--neutral-color-desaturated);
}



